In [ ]:
#membersihkan judul

In [24]:
%pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.0-cp311-cp311-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.14.1)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.0-cp311-cp311-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
    --------------------------------------- 0.3/11.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.1 MB 932.9 kB/s eta 0:00:12
   -- ------------------------------------- 0.8/11.1 MB 1.0 MB/s eta 0:00:10
   --- ------------------------------------ 1.0/11.1 MB 1.0 MB/s eta 0:00:10
   ---- ----------------------------------- 1.3/11.1 MB 1.1 MB/s eta 0:00:09
   ----- ---------------------------------- 1.6/11.1 MB 1.1 MB/s eta 0:00:09
   ----- ---------------------------------- 1.6/11.1 MB 1.1 MB/s eta 0:00:09
   ------ --------------------------------- 1.8/11.1 MB 1.1 MB/s eta 0:00:09
   ------- -------------------------------- 2.1/11.1 MB 1.1 MB/s eta 0:00:09
   -------- ------------------------------- 2.4/11.1 MB 1.1 MB/s eta 0:00:08
   --------- ------------------------------ 2.6/11.1 MB 1.1 MB/s eta 0:00:08
   ----------- ---------------------------- 3.1/11.1 MB 1.2 MB/s eta 0:00:07
   ------------ --------------------------- 3.4/11.1 MB 1.2 MB/s eta 0:00:07
   ------------- -------------------------- 3.7/11.1 MB 1.3 MB/s eta 0:00:06
   --------------- ------------------------ 4.2/11.1 MB 1.3 MB/s eta 0:00:06
   ---------------- ----------------------- 4.5/11.1 MB 1.3 MB/s eta 0:00:06
   ----------------- ---------------------- 5.0/11.1 MB 1.4 MB/s eta 0:00:05
   ----------------- ---------------------- 5.0/11.1 MB 1.4 MB/s eta 0:00:05
   ----------------- ---------------------- 5.0/11.1 MB 1.4 MB/s eta 0:00:05
   -------------------- ------------------- 5.8/11.1 MB 1.4 MB/s eta 0:00:04
   --------------------- ------------------ 6.0/11.1 MB 1.4 MB/s eta 0:00:04
   ----------------------- ---------------- 6.6/11.1 MB 1.4 MB/s eta 0:00:04
   ------------------------ --------------- 6.8/11.1 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 7.1/11.1 MB 1.4 MB/s eta 0:00:03
   -------------------------- ------------- 7.3/11.1 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 7.9/11.1 MB 1.4 MB/s eta 0:00:03
   ------------------------------ --------- 8.4/11.1 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 8.7/11.1 MB 1.5 MB/s eta 0:00:02
   -------------------------------- ------- 8.9/11.1 MB 1.5 MB/s eta 0:00:02
   -------------------------------- ------- 8.9/11.1 MB 1.5 MB/s eta 0:00:02
   --------------------------------- ------ 9.4/11.1 MB 1.5 MB/s eta 0:00:02
   --------------------------------- ------ 9.4/11.1 MB 1.5 MB/s eta 0:00:02
   ----------------------------------- ---- 10.0/11.1 MB 1.4 MB/s eta 0:00:01
   ----------------------------------- ---- 10.0/11.1 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.5/11.1 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 10.7/11.1 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 1.4 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.0 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [22]:
%pip install ipywidgets

Collecting ipywidgets
  Downloading ipywidgets-8.1.5-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: comm>=0.1.3 in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipywidgets) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipywidgets) (8.26.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipywidgets) (5.14.3)
Collecting widgetsnbextension~=4.0.12 (from ipywidgets)
  Downloading widgetsnbextension-4.0.13-py3-none-any.whl.metadata (1.6 kB)
Collecting jupyterlab-widgets~=3.0.12 (from ipywidgets)
  Downloading jupyterlab_widgets-3.0.13-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: decorator in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (2.18.0)
Requirement already satisfied: stack-data in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: typing-extensions>=4.6 in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (4.12.2)
Requirement already satisfied: colorama in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from ipython>=6.1.0->ipywidgets) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.4)
Requirement already satisfied: wcwidth in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.3)
Requirement already satisfied: six>=1.12.0 in c:\users\msi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.16.0)
Downloading ipywidgets-8.1.5-py3-none-any.whl (139 kB)
Downloading jupyterlab_widgets-3.0.13-py3-none-any.whl (214 kB)
Downloading widgetsnbextension-4.0.13-py3-none-any.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.3 MB ? eta -:--:--
   -------- ------------------------------- 0.5/2.3 MB 882.6 kB/s eta 0:00:03
   ------------- -------------------------- 0.8/2.3 MB 958.5 kB/s eta 0:00:02
   ------------- -------------------------- 0.8/2.3 MB 958.5 kB/s eta 0:00:02
   ----------------- ---------------------- 1.0/2.3 MB 1.0 MB/s eta 0:00:02
   ---------------------- ----------------- 1.3/2.3 MB 1.1 MB/s eta 0:00:01
   -------------------------- ------------- 1.6/2.3 MB 1.1 MB/s eta 0:00:01
   ------------------------------- -------- 1.8/2.3 MB 1.1 MB/s eta 0:00:01
   ----------------------------------- ---- 2.1/2.3 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 2.3/2.3 MB 1.1 MB/s eta 0:00:00
Installing collected packages: widgetsnbextension, jupyterlab-widgets, ipywidgets
Successfully installed ipywidgets-8.1.5 jupyterlab-widgets-3.0.13 widgetsnbextension-4.0.13
Note: you may need to restart the kernel to use updated packages.

In [12]:
#pip install ipython

In [21]:
%pip install sklearn

Collecting sklearnNote: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [15 lines of output]
      The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
      rather than 'sklearn' for pip commands.

      Here is how to fix this error in the main use cases:
      - use 'pip install scikit-learn' rather than 'pip install sklearn'
      - replace 'sklearn' by 'scikit-learn' in your pip requirements files
        (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
      - if the 'sklearn' package is used by one of your dependencies,
        it would be great if you take some time to track which package uses
        'sklearn' instead of 'scikit-learn' and report it to their issue tracker
      - as a last resort, set the environment variable
        SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

      More information is available at
      https://github.com/scikit-learn/sklearn-pypi-package
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

In [14]:
#pip install streamlit tensorflowjs

In [3]:
import pandas as pd

movies = pd.read_csv("movies.csv")

In [3]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
87580,292731,The Monroy Affaire (2022),Drama
87581,292737,Shelter in Solitude (2023),Comedy|Drama
87582,292753,Orca (2023),Drama
87583,292755,The Angry Breed (1968),Drama
87584,292757,Race to the Summit (2023),Action|Adventure|Documentary

In [4]:
import re

def clean_title(title):
    return re.sub("[^a-zA-Z0-9 ]", "",title)

In [5]:
movies["clean_title"] = movies["title"].apply(clean_title)

In [5]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
87580,292731,The Monroy Affaire (2022),Drama,The Monroy Affaire 2022
87581,292737,Shelter in Solitude (2023),Comedy|Drama,Shelter in Solitude 2023
87582,292753,Orca (2023),Drama,Orca 2023
87583,292755,The Angry Breed (1968),Drama,The Angry Breed 1968
87584,292757,Race to the Summit (2023),Action|Adventure|Documentary,Race to the Summit 2023

In [19]:
#mengubah ke matrix

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(ngram_range=(1,2))

tfidf = vectorizer.fit_transform(movies["clean_title"])

In [14]:
#search function

In [7]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(title):
    
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec,tfidf).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    results = movies.iloc[indices][::-1]
    return results

In [19]:
#query_vec

In [21]:
#similarity

In [43]:
#indices

array([81134, 74477, 61208,     2, 69717], dtype=int64)

In [57]:
#results

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
14815,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
60708,201588,Toy Story 4 (2019),Adventure|Animation|Children|Comedy,Toy Story 4 2019
20505,106022,Toy Story of Terror (2013),Animation|Children|Comedy,Toy Story of Terror 2013

In [ ]:
#untuk search box

In [8]:
import ipywidgets as widgets
from IPython.display import display

movie_input = widgets.Text(
    value='Toy Story',
    description='Movie Title:',
    disabled=False
)
movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            display(search(title))

movie_input.observe(on_type, names='value')


display(movie_input, movie_list)

Text(value='Toy Story', description='Movie Title:')

Output()

In [9]:
ratings = pd.read_csv("ratings.csv",sep = ',', encoding_errors= 'replace')

In [6]:
ratings

          userId  movieId  rating     timestamp
0              1       17     4.0  9.442491e+08
1              1       25     1.0  9.442502e+08
2              1       29     2.0  9.432310e+08
3              1       30     5.0  9.442491e+08
4              1       32     5.0  9.432289e+08
...          ...      ...     ...           ...
10848996   68012     3578     4.5  1.137336e+09
10848997   68012     3623     3.0  1.137339e+09
10848998   68012     3717     3.0  1.137339e+09
10848999   68012     3723     4.0  1.137343e+09
10849000   68012     3735     4.0           NaN

[10849001 rows x 4 columns]

In [10]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp    float64
dtype: object

In [10]:
movie_id = 1

In [11]:
similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()

In [13]:
similar_users

array([   20,    33,    43, ..., 67988, 67999, 68001], dtype=int64)

In [34]:
similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]

In [31]:
similar_user_recs

          userId  movieId  rating     timestamp
2004          20        1     5.0  1.553184e+09
2007          20       50     4.5  1.553181e+09
2010          20      260     5.0  1.553181e+09
2011          20      296     5.0  1.553187e+09
2012          20      318     5.0  1.553181e+09
...          ...      ...     ...           ...
10848011   68001      590     5.0  8.580321e+08
10848012   68001      593     5.0  8.580321e+08
10848013   68001      595     5.0  8.580321e+08
10848014   68001      608     5.0  8.580315e+08
10848016   68001     1073     5.0  8.580315e+08

[591881 rows x 4 columns]

In [35]:
similar_user_recs = similar_user_recs.value_counts() / len(similar_users)

similar_user_recs = similar_user_recs[similar_user_recs > .10]

In [36]:
similar_user_recs

movieId
1       1.000000
318     0.452226
260     0.405664
356     0.373772
296     0.373134
          ...
1203    0.103074
4011    0.102819
1222    0.102309
2502    0.101416
1259    0.100778
Name: count, Length: 120, dtype: float64

In [ ]:
#berapa banyak all user menyukai sebuah movie

In [38]:
all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]

In [39]:
all_users

          userId  movieId  rating     timestamp
4              1       32     5.0  9.432289e+08
9              1      111     5.0  9.442490e+08
15             1      260     5.0  9.432287e+08
23             1      541     5.0  9.432275e+08
53             1     1196     5.0  9.432287e+08
...          ...      ...     ...           ...
10848952   68012     2502     4.5  1.137337e+09
10848955   68012     2571     5.0  1.137336e+09
10848966   68012     2858     5.0  1.137422e+09
10848971   68012     2959     4.5  1.137335e+09
10848996   68012     3578     4.5  1.137336e+09

[774076 rows x 4 columns]

In [40]:
#presentase
all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

In [41]:
all_user_recs

movieId
318       0.346276
296       0.285097
2571      0.253275
356       0.234207
2959      0.228976
            ...
953       0.045063
134853    0.044624
1148      0.043791
78499     0.038042
2355      0.023655
Name: count, Length: 120, dtype: float64

In [42]:
#rekomendasi skor
rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
rec_percentages.columns = ["similar", "all"]

In [43]:
rec_percentages

          similar       all
movieId
1        1.000000  0.123127
318      0.452226  0.346276
260      0.405664  0.219395
356      0.373772  0.234207
296      0.373134  0.285097
...           ...       ...
1203     0.103074  0.063645
4011     0.102819  0.075645
1222     0.102309  0.067587
2502     0.101416  0.057880
1259     0.100778  0.047309

[120 rows x 2 columns]

In [44]:
rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

In [45]:
rec_percentages = rec_percentages.sort_values("score", ascending=False)

In [46]:
rec_percentages

          similar       all     score
movieId
1        1.000000  0.123127  8.121699
3114     0.286006  0.052932  5.403219
2355     0.110728  0.023655  4.681032
78499    0.167496  0.038042  4.402886
4886     0.248246  0.073980  3.355590
...           ...       ...       ...
318      0.452226  0.346276  1.305970
4973     0.143386  0.111771  1.282854
79132    0.192116  0.155515  1.235358
2959     0.281541  0.228976  1.229564
109487   0.116086  0.101703  1.141428

[120 rows x 3 columns]

In [47]:
rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")

,similar,all,score,movieId,title,genres,clean_title
0,1.000000,0.123127,8.121699,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
3021,0.286006,0.052932,5.403219,3114,Toy Story 2 (1999),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 2 1999
2264,0.110728,0.023655,4.681032,2355,"Bug's Life, A (1998)",Adventure|Animation|Children|Comedy,Bugs Life A 1998
14815,0.167496,0.038042,4.402886,78499,Toy Story 3 (2010),Adventure|Animation|Children|Comedy|Fantasy|IMAX,Toy Story 3 2010
4781,0.248246,0.073980,3.355590,4886,"Monsters, Inc. (2001)",Adventure|Animation|Children|Comedy|Fantasy,Monsters Inc 2001
580,0.209338,0.064100,3.265795,588,Aladdin (1992),Adventure|Animation|Children|Comedy|Musical,Aladdin 1992
6259,0.238423,0.074435,3.203093,6377,Finding Nemo (2003),Adventure|Animation|Children|Comedy,Finding Nemo 2003
359,0.259344,0.084990,3.051453,364,"Lion King, The (1994)",Adventure|Animation|Children|Drama|Musical|IMAX,Lion King The 1994
587,0.169027,0.056294,3.002581,595,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,Beauty and the Beast 1991
8248,0.218905,0.073713,2.969707,8961,"Incredibles, The (2004)",Action|Adventure|Animation|Children|Comedy,Incredibles The 2004

In [ ]:
#fungsi rekomendasi

In [12]:
def find_similar_movies(movie_id):
    similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] > 4)]["userId"].unique()
    similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] > 4)]["movieId"]
    similar_user_recs = similar_user_recs.value_counts() / len(similar_users)

    similar_user_recs = similar_user_recs[similar_user_recs > .10]
    all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]
    all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
    rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
    rec_percentages.columns = ["similar", "all"]
    
    rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
    rec_percentages = rec_percentages.sort_values("score", ascending=False)
    return rec_percentages.head(10).merge(movies, left_index=True, right_on="movieId")[["score", "title", "genres"]]

In [13]:
#widget rekomendasi
movie_name_input = widgets.Text(
    value='Toy Story',
    description='Movie Title:',
    disabled=False
)
recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))

movie_name_input.observe(on_type, names='value')

display(movie_name_input, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()